---
_rule:
  domain: EC
  scope: lot
  kind: consistency
  severity: ERROR

logic: national_codelist_dependency

params:
  override_if:
    legal_basis_noid: EXEMPT

  _dependencies:
    fields:
      legal_basis_noid: "legal_basis_noid"
      legal_basis_descriptions:
        - legal_basis_description: "legal_basis_noid_description_nor"
          lang: "nor"
        - legal_basis_description: "legal_basis_noid_description_eng"
          lang: "eng"
    external_data:
      - file: "rules/legal_basis_procedure.yaml"
        id: "lb_registry"

  target: award_criterion_type_lot
  codelist_file: "award-criterion-type.no.yaml"
  list_name: "award-criterion-type"
  check_scope: relative
  parent_elem: "cac:AwardingCriterion"
  rules:
    - regulation: FOA
      context:
        lb_scope: national_to_eu
      test: "always"
      _description:
        nob: >-
          For nasjonale anskaffelser underlagt Anskaffelsesforskriftens
          Del 1 og 2, kreves alltid at oppdragsgiver tar stilling til
          forskriftens klima- og miljøbestemmelser.
        nob_verify: false
        nno: >-
          For nasjonale anskaffingar underlagt Anskaffingsforskriftas
          Del 1 og 2, krevst alltid at oppdragsgivar tar stilling
          til klima- og miljøbestemmelsane i forskrifta.
        nno_verify: false
        eng: >-
          For national procurement procedures governed by Sections 1 and
          2 of the Norwegian Public Procurement Regulations, the
          contracting authority shall always follow the climate- and
          environmental considerations stated in the Regulations.
        eng_verify: false
    - regulation: ANY
      context:
        lb_scope: ANY
      test: "exclusivity"
      _description:
        nob: >-
          Både oppfyllelse av klima- og miljøkriterium og/eller at klima
          og miljø hensyntas i kravspesifikasjon kan ikke oppgis samtidig
          som unntak fra forskriften. Velg én av delene.
        nob_verify: false
        nno: >-
          Både oppfylling av klima- og miljækriteriu, eller at klima og
          miljø hensyntas i kravspesifikasjonen, kan ikke oppgjes samtidig
          som unntak frå forskrifta. Velg ein av delane.
        nno_verify: false
        eng: >-
          You cannot be exempt from the climate- and environmental
          considerations of the Norwegian Public Procurement Regulations
          while also following said regulations. Choose either.
        eng_verify: false
    - regulation: ANY
      context:
        lb_scope: ANY
      test: "count > 1"
      _description: 
        nob: >-
          Hvis minimum to tildelingskriterier er oppgitt, kreves beskrivelse
          av på hvilken måte klima- og miljøbestemmelsene i norsk
          anskaffelsesregelverk etterleves.
        nob_verify: false
        nno: >-
          I fall minst to tildelingskriterium er oppgitt, krevst beskriving av
          på kva for ein måte klima- og miljøreglane i norsk
          anskaffingsregelverk blir etterlevde.
        nno_verify: false
        eng: >-
          In the event that at least two award criteria are provided, it is
          required to inform in what way the procurement complies with the 
          climate- and environmental considerations in the Norwegian public
          procurement regulations.
        eng_verify: false
  
  
