---
_rule:
  domain: EC
  scope: lot
  kind: consistency
  severity: ERROR

logic: national_codelist_dependency

params:
  override_if:
    legal_basis_noid: EXEMPT

  _dependencies:
    fields:
      legal_basis_noid: "legal_basis_noid"
      legal_basis_descriptions:
        - legal_basis_description: "legal_basis_noid_description_nor"
          lang: "nor"
        - legal_basis_description: "legal_basis_noid_description_eng"
          lang: "eng"
    external_data:
      - file: "rules/legal_basis_procedure.yaml"
        id: "lb_registry"

  target: award_criterion_type_lot
  codelist_file: "award-criterion-type.no.yaml"
  list_name: "award-criterion-type"
  check_scope: relative
  parent_elem: "cac:AwardingCriterion"
  rules:
    - regulation: FOA
      context:
        lb_scope: national_to_eu
      test: "always"
      _description:
        nob: >-
          For nasjonale anskaffelser underlagt Anskaffelsesforskriftens
          Del 1 og 2, kreves alltid at oppdragsgiver tar stilling til
          forskriftens klima- og miljøbestemmelser.
        nob_verify: false
        nno: >-
          For nasjonale anskaffingar underlagt Anskaffingsforskriftas
          Del 1 og 2, krevst alltid at oppdragsgivar tar stilling
          til klima- og miljøbestemmelsane i forskrifta.
        nno_verify: false
        eng: >-
          For national procurement procedures governed by Sections 1 and
          2 of the Norwegian Public Procurement Regulations, the
          contracting authority shall always follow the climate- and
          environmental considerations stated in the Regulations.
        eng_verify: false
    - regulation: ANY
      context:
        lb_scope: ANY
      test: "count > 1"
      _description: 
        nob: >-
          Hvis minimum to tildelingskriterier er oppgitt, kreves beskrivelse
          av på hvilken måte klima- og miljøbestemmelsene i norsk
          anskaffelsesregelverk etterleves.
        nob_verify: false
        nno: >-
          I fall minst to tildelingskriterium er oppgitt, krevst beskriving av
          på kva for ein måte klima- og miljøreglane i norsk
          anskaffingsregelverk blir etterlevde.
        nno_verify: false
        eng: >-
          In the event that at least two award criteria are provided, it is
          required to inform in what way the procurement complies with the 
          climate- and environmental considerations in the Norwegian public
          procurement regulations.
        eng_verify: false
    - regulation: ANY
      context:
        lb_scope: ANY
      test:
        type: "environmental_logic"
        condition: "count > 1"
        operator: "OR"
        strategies:
          # Case 1: Klima- og miljøkriterier vektet minst 30 %
          - id: "weight_sum"
            type: "sum_comparison"
            target_sum: 30
            operator: ">="
            collection:
              node: "cac:AwardingCriterion"
              filter:
                - field: "award_criterion_type_lot"
                  value: "quality-nor-env-criteria"
                - field: "award_criterion_number_weight_lot"
                  value: "per-exa"
              sum_field: "award_criterion_number_lot"
          # Case 2: Finnes det et klimakriterium blant de 3 høyest rangerte?
          - id: "top_3_importance"
            type: "rank_check"
            max_rank: 3
            collection:
              node: "cac:AwardingCriterion"
              filter:
                - field: "award_criterion_type_lot"
                  value: "quality-nor-env-criteria"
                - field: "award_criterion_number_weight_lot"
                  value: "ord-imp"
              sort_field: "award_criterion_number_lot"
          # Case 3: Er klima- og miljø hensyntatt som en teknisk kravspesifikasjon?
          - id: "env_specification"
            type: "specification_check"
            collection:
              node: "cac:AwardingCriterion"
              filter:
                - field: "award_criterion_type_lot"
                  value: "quality-nor-env-spec"
                - field: "award_criterion_number_weight_lot"
                  value: "per-exa"
                - field: "award_criterion_number_lot"
                  value: "0"
              description_field: "award_criterion_description_lot"
          # Case 4: Begrunnet unntak (ubetydelig klimaavtrykk)
          - id: "env_exemption"
            type: "specification_check"
            collection:
              node: "cac:AwardingCriterion"
              filter:
                - field: "award_criterion_type_lot"
                  value: "quality-nor-env-none"
                - field: "award_criterion_number_weight_lot"
                  value: "per-exa"
                - field: "award_criterion_number_lot"
                  value: "0"
              description_field: "award_criterion_description_lot"
      _description:
        nob: >-
          Klima- og miljøbestemmelsene i Anskaffelsesforskriften sier at
          klima- og miljøhensyn skal vektes med minimum tretti prosent,
          eller at klima- og miljøhensyn skal være blant de tre høyest
          prioriterte tildelingskriteriene der tildelingskriterier angis
          i prioritert rekkefølge. Alternativt kan dette erstattes med
          klima- miljøkrav i kravspesifikasjonen. Unntaksbestemmelser finnes
          for anskaffelser med uvesentlig klima- og miljøpåvirkning.
            
